<%- include('ek/header', {bot, user, path}) %>

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="msapplication-TileColor" content="#4D77CD">
 <meta name="msapplication-TileImage" content="<%=bot.user.avatarURL%>">
 <meta name="theme-color" content="#4D77CD">
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="Spice up your Discord experience with our diverse range of Discord bots">
 <meta name="keywords" content="Bots, Discord, English">
 <meta property="og:title" content="Discord4Bots" />
 <meta property="og:type" content="Website" />
 <meta property="og:url" content="" />
 <meta property="og:description" content="Spice up your Discord experience with our diverse range of Discord bots" />
 <meta property="og:image" content="<%=bot.user.avatarURL%>" />
 <meta itemprop="description" content="Spice up your Discord experience with our diverse range of Discord bots">
 <meta itemprop="image" content="<%=bot.user.avatarURL%>">
<head>

<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">You can only vote for each bots once a day!</h3>
    </div>
</div>
    </div>
</div>