<br>
<div class="footer" style="color:#fff; border-radius:4px">
	<div class="footer_container" style="color:#fff">
		<div id="kutu">
			<b>Genel Sayfalar</b>
			<ul>
				<li><a href="/">Home page</a></li>
				<li><a href="/botlar">Bots</a></li>
        <li><a href="/hakkimizda">about us</a></li>
				<li><a href="/sertifika">Getting Certificates</a></li>
			</ul>
		</div>
    
		<div id="kutu" style="margin-left:150px;">
			<b>Contact</b>
			<ul>
				<li><a href=""><img src="https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png" height="42" width="42" alt="discord-icon" /></a></li>
			</ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color:#fff">
      Our site does not have any partnership with Discord and is not official.
    </h6>
	</div>
</div>