<br>
<div class="footer" style="color:#fff; border-radius:4px">
	<div class="footer_container" style="color:#fff">
		<div id="kutu">
			<b>General Pages</b>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/bots">Bots</a></li>
        <li><a href="/about">About Us</a></li>
				<li><a href="/certificate">Getting Certificates</a></li>
			</ul>
		</div>
    
		<div id="kutu" style="margin-left:150px;">
			<b>Contact</b>
			<ul>
				<li><a href="https://discord.gg/fWfPerr"><img src="https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png" height="42" width="42" alt="discord-icon" /></a></li>
			</ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color:#ECECEC">
      Our Discord4Bots do not have Partnership with www.discord.com or any other Websites!
    </h6>
	</div>
</div>